.scrolling-bg-main {
    height: 400vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    animation:scrolling-animation 60s infinite normal;
    color:red;
    align-content: baseline;
    list-style: none;
    margin: 0;
    padding: 0;
}

.flipped-direction {
    animation:scrolling-animation-2 60s infinite normal;
}

.column-container {
    text-align: center;
}

.delay-1 {
    animation-delay: 2s;
}

.delay-2 {
    animation-delay: 5s;
}

.delay-3 {
    animation-delay: 9s;
}

.gallery-container {
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    grid-column-gap: 10%;
    max-width: 970px;
    width: 100%;
    margin: auto;
}

.gallery-image-wrapper {
    width: 100%;
}

@keyframes scrolling-animation {
    0% {
    opacity: 0;
    transform: translate(0%, -100%);
    }

    20%{
        opacity: 1;
    }

    85% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translate(0%, 0%);
    }
}

@keyframes scrolling-animation-2 {
    100% {
    opacity: 0;
    transform: translate(0%, -100%);
    }

    85%{
        opacity: 0.5;
    }

    20% {
        opacity: 0.5;
    }
    0% {
        opacity: 0;
        transform: translate(0%, 10%);
    }
}