* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: black;
    overflow-x: hidden;
    overflow-y: hidden;
   
}
 .overlay-main {
    color: white;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    padding: 4.16667%;
    justify-content: space-between;
    z-index: 2;
    font-size: 17.5vw;
    font-family: 'Playfair Display', serif;
    position: absolute;
    top: 0;
    left: 0;
 }

